.admin-container{
    width: 100%;
    height: 100%; 
    position: absolute;
    inset: 0; 
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.admin-container nav {
    background-color: white;
    height: 10%;
    width: 100%;
    position: absolute;
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: row;
}
.nav-adminator{
    width: 16%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
    border-right: 1px black solid;
}
.content-aside{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 900;
    color: rgb(255, 79, 79);
}
.admin-container aside {
    width: 16%;
    height: 90%;
    position: absolute;
    bottom: 0;
    border-right: 1px black solid;
}

aside ul {
    height: 400px;
    width: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    align-items: center;
}
 aside ul li{
    height: 35px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 20px;
    font-weight: 600;
    cursor: pointer;
} 

.admin-aside-icon{
    margin-right: 20px;
}

.admin-active-item{
    background-color: rgba(255, 192, 178, 0.829);
    border-radius: 10px;
    color: white;
    box-shadow: hsl(0, 100%, 79%) 0px -23px 25px 0px inset, rgb(255, 204, 162) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(238, 116, 116, 0.09) 0px 32px 16px;
}

/* .admin-container aside{
    position: absolute;
    top: 0;
    background-color: white;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-right: 7px;
    border-right: solid 5px black;
    flex-direction: column;
}

.admin-container aside b{
    font-weight:700 ;
    font-size: 30px;
    display: flex;
    border-radius: 20px;
    border: solid 1px red;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5px;
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}
.admin-menu{
    inset:  0;
    margin: auto 0 auto 0;
    height: 80%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
}
.admin-menu-choice{
    position: absolute;
    right: 0;
    background-color: black;
    height: 100%;
}
.admin-active-item{
    color: rgb(0, 0, 0);
    width: 90%;
    display: flex;
    justify-content: center;
    border-left: black solid 5px;
    border-bottom: black solid 5px;
    align-items: center;
}
.admin-content{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 79.9%;
    background-color: rgb(255, 255, 255);
} */

/*Product*/
.admin-content-container{
    position: absolute;
    inset: auto 0 0 auto;
    width: 83%;
    height: 88%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
