.index1{
  height: 500px;
  background-image: url("https://i.pinimg.com/736x/17/51/f1/1751f1b168e516a95939697bbdd6fbca.jpg");
  width: 95%;
  border: solid black;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.index1 h1{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 background-color: rgb(217, 217, 217);
 height: 12%;
}
.index1 h4{
  color:rgb(255, 0, 0);
  height: 5%;
  background-color: rgb(192, 192, 192);
  border-radius: 10px;
}


.shop-by-brand{
  height: 30%;
  width: 95%;
  border: solid black;
  inset: 0;
  margin: 2% auto 2% auto;
}

.shop-by-brand {
  background-color: antiquewhite;
  padding: 0;
}
.shop-by-brand div{
  height: 20%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  font-size:  25px;
  align-items: center;
  font-weight: 700;
}
.shop-by-brand ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  border: solid black;
  background-color: aqua;
}
.shop-by-brand ul li{
  height: 100%;
  width: 18%;
  background-color: black;
}


