.nav-container{
    inset: 0;
    margin: 0 auto 0 auto;
    position: absolute;
    top: 0;
    border: solid black;
    height: 25%;
}
nav{
    background-color: black;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
}
.nav-above{
    height: 60%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.brand-name{
    background-color: white;
    width: 20%;
    height: 60%;
    font-size: 30px;    
    display: flex;
    align-items: center;
    font-weight: 900;
    color:  black;
    inset: 0;
    margin: auto 0 auto 0;
    margin-left: 3%;
    border-radius: 10px;
    cursor: pointer;
}
.brand-name img{
    height: 100%;
    width: 25%;
    border-radius: 50%;
    margin-left: 5%;
}
.search-bar{
    background-color:  rgb(255, 255, 255);
    height: 50%;
    width: 50%;
    inset: 0;
    margin:  auto 0 auto 0;
    display: flex;
    align-items: center;
}
.search-bar input{
    height: 80%;
    width: 85%;
    border: none;
    margin-left: 2%;
}
.user-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    color: white;
    justify-content: space-around;
}
.user-login h4:hover {
    text-decoration: underline;
}
.nav-below{
    background-color: rgb(56, 56, 56);
    height: 38%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:  groove black;
}
.nav-menu{
    width: 70%;
}
.nav-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    color: white;
    font-weight: 700;
    height: 100%;
}
.nav-menu ul li{
    height: 70%;
    cursor: pointer;
    color: white;
}
.nav-menu ul li:hover{
    border-bottom:white solid 5px;
}
.active-item{
    height: 70%;
    cursor: pointer;
    border-bottom: solid 5px white;
}
.user-careAbout{
    width:8%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.careAbout-icon{
    transform: scale(1.3);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.careAbout-icon-new-message{
    color: red;
    transform: scale(1.3);
    cursor: pointer;
}
.careAbout-icon:hover{
    transform: scale(1.5);
    color: rgb(255, 153, 153);
}
.mess-container{
    height: 550px;
    width: 30%;
    border: solid 4px rgb(255, 122, 122);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: fixed;
    right: 0;
    z-index: 1;
}
.mess-title{
    height: 10%;
    width: 90%;
    padding: 0 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.mess-content{
    height: 77%;
    border-top:solid black ;
    border-bottom: solid black;
    overflow-y: scroll;
    align-items: flex-end;
    flex-direction: column-reverse;
}
.mess-input{
    height: 12%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-input-mess{
    height: 75%;
    width: 86%;
    padding: 0 2% 0 2%;
    border: solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-img{
    height: 30px;
    width: 30px;
    border: solid rgb(255, 83, 83);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 142, 56);
    cursor: pointer;
}
.input-text{
    width: 75%;
    height: 35px;
}
.input-text input{
    height: 85%;
    width: 95%;
}
.btn-send{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

.onSearch-box{
    position: absolute;
    height: 200px;
    width: 50%;
    border: solid 2px black;
    background-color: white;
    z-index: 1;
    inset: 0;
    margin: 6% auto 0 29%;
    overflow-y: auto;
}
.product-on-search{
    height: 30%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}
.product-on-search-img{
    display: flex;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
}